.login {
    margin: 50px auto;
    width: 320px;
  }

  .login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid gray;
  }

  .login form input {
    background-color: wheat;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
  }


  .login form #rgstr_btn, #log_btn {
    background: green;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }

  i{
    margin-left: 60%;
    font-size: 50%;
 }
 #language{
   
 }
